In [2]:
import pandas as pd

## Изменить кодировку файла

In [25]:
import csv
import codecs

def convert_csv_to_utf8(input_path, output_path):
    # Read the CSV file
    with open(input_path, "r", encoding="windows-1251") as infile:
        data = csv.reader(infile)
        rows = list(data)
    
    # Write the contents into another CSV file with UTF-8 encoding
    with codecs.open(output_path, "w", encoding="utf-8", errors="ignore") as outfile:
        writer = csv.writer(outfile)
        writer.writerows(rows)

# Call the convert_csv_to_utf8 function to convert the input CSV
input_csv = "test data.csv"
output_csv = "test_data_utf8.csv"
convert_csv_to_utf8(input_csv, output_csv)

## Отчистить файл от лишних кавычек

In [37]:
import csv

input_file = 'test_data_utf8.csv'
output_file = 'test_data_clean.csv'

with open(input_file, 'r') as csv_input, open(output_file, 'w', newline='') as csv_output:
    reader = csv.reader(csv_input)
    writer = csv.writer(csv_output, quoting=csv.QUOTE_NONE, escapechar=' ')

    for row in reader:
        modified_row = [value.replace('"', '') for value in row]  # Remove extra quotes using replace()
        writer.writerow(modified_row)

In [3]:
df = pd.read_csv('data/test_data_clean.csv')
df

,Week,Date,Event_Count,FederalDistrict_Name,Event_Name
0,18,2018-05-01 00:00:00,117,Central,Регистрация пользователя
1,18,2018-05-01 00:00:00,1,Far Eastern,Регистрация пользователя
2,18,2018-05-01 00:00:00,10,North Caucasian,Регистрация пользователя
3,18,2018-05-01 00:00:00,20,Northwestern,Регистрация пользователя
4,18,2018-05-01 00:00:00,5,Siberian,Регистрация пользователя
...,...,...,...,...,...
658,23,2018-06-07 00:00:00,149,Siberian,Активация кода
659,23,2018-06-07 00:00:00,170,Southern,Активация кода
660,23,2018-06-07 00:00:00,14,Undefined,Активация кода
661,23,2018-06-07 00:00:00,138,Ural,Активация кода
662,23,2018-06-07 00:00:00,356,Volga,Активация кода

In [6]:
df.Date = pd.to_datetime(df.Date)
df.Date

0     2018-05-01
1     2018-05-01
2     2018-05-01
3     2018-05-01
4     2018-05-01
         ...
658   2018-06-07
659   2018-06-07
660   2018-06-07
661   2018-06-07
662   2018-06-07
Name: Date, Length: 663, dtype: datetime64[ns]

In [7]:
df.FederalDistrict_Name.apply(lambda x: x[:-1])

0               Central
1          Far  Eastern
2      North  Caucasian
3          Northwestern
4              Siberian
             ...
658            Siberian
659            Southern
660           Undefined
661                Ural
662               Volga
Name: FederalDistrict_Name, Length: 663, dtype: object

In [8]:
df.FederalDistrict_Name

0               Central
1          Far  Eastern
2      North  Caucasian
3          Northwestern
4              Siberian
             ...
658            Siberian
659            Southern
660           Undefined
661                Ural
662               Volga
Name: FederalDistrict_Name, Length: 663, dtype: object